[user]
	email = jonatanwitoszek@gmail.com
	name = Jonatan Witoszek
[core]
	editor = nvr --remote-wait-silent
	pager = delta
	excludeFile = ~/.gitignore
[push]
	default = simple
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
[credential]
	helper = osxkeychain
[color "status"]
	changed = red bold strike
	untracked = cyan
[delta]
	side-by-side = false
	line-numbers = true
[pager]
	diff = delta -s
	difftool = true
[init]
	defaultBranch = main
	templateDir = ~/.git-templates/git-secrets
[alias]
	hs = log --pretty='%C(yellow)%h %C(cyan)%cd %Cblue%aN%C(auto)%d %Creset%s' --graph --date=relative --date-order
	dft = difftool
	autopull = "!git pull origin $(git symbolic-ref --short HEAD)"
	ss = "git stash -- $(git diff --staged --name-only)" # stash staged
[merge]
	# conflictStyle = diff3
	tool = webstorm
[diff]
    ;tool = kitty
    tool = difftastic
    guitool = kitty.gui
[mergetool]
	keepBackup = false
[mergetool "webstorm"]
  cmd = webstorm merge \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\" && read
[difftool "webstorm"]
	cmd = webstorm diff \"$LOCAL\" \"$REMOTE\" && read
[difftool "kitty"]
    cmd = kitty +kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitty kitty +kitten diff $LOCAL $REMOTE
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[secrets]
	providers = git secrets --aws-provider
	patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[pull]
	default = current
